body {
  background: #333;
}

#header {
  background: #fff;
  position: fixed;
  height: 80px;
  width: 100%;
  border-radius: 0 0 10px 10px;
  padding: 0 4px;
}

#header h1 {
  font-size: 72px;
  color: #0C0;
  margin: 0;
}

#nav {
  position: fixed;
  top: 24px;
  right:14px;
  text-align: right;
}

#content {
  background: #eee;
  border-radius: 10px;
  min-height: 100px;
  margin-top: 90px;


  text-align: center;
  padding: 40px;
}
