html {
  font-family: sans-serif;
}

body {
  background: #333;
  margin: 0;
  padding: 0;
}

#header {
  background: #fff;
  position: fixed;
  top: 0;
  height: 80px;
  left: 0;
  right: 0;
  border-radius:0 0 10px 10px;
  padding: 0 4px;
}

#header h1 {
  font-size: 72px;
  color: #0C0;
  margin: 0;
}

#nav {
  position: fixed;
  top: 34px;
  right:14px;
  text-align: right;
  list-style-type: none;
}

#nav li {
  display: inline;
}

#nav li h3 {
  display: inline;
}

#nav .link :hover {
  color: #0C0;
}

#nav .sep :hover {
  cursor: default;
}

#content {
  background: #eee;
  border-radius: 10px;
  min-height: 100px;
  width:90%;
  margin: 90px auto;


  text-align: center;
  padding: 40px;
}
