* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: libSans;
  src: url(../fonts/liberation-sans-regular.ttf);
}

html {
  font-family: libSans;
}

body {
  background: #fff;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5em;
  color: #fff;
}

#content {
  background: #333;
  border-radius: 10px;
  height: 600px;
  width:45%;
  position: fixed;
  left: 50%;
  top: 100px;
  padding: 20px;
}

#bubble-container {
  height: 600px;
  width:40%;
  position: fixed;
  left: 5%;
  top: 100px;
}

.bubble {
  float: left;
  margin: 20px;
  width:150px;
  height: 150px;
  background: #007700;
  background-size: 100% 100%;
  border-radius: 75px;
}

.bubble-text {
  visibility: hidden;
  width: 100%;
  height: 100%;
  border-radius: 75px;
  color:#fff;
  background: rgba(0,0,0,.5);
}

#bubble-me {
  background-image: url('../images/face_bw.jpg');
}