body {
	background: #222;
	font-family: 'Arial', sans-serif;
}

h1 {
	color: #fff;
	font-weight: 500;
  font-size:48px;
}

h2 {
  color: #fff;
  font-weight: 500;
  font-size:36px;
}

a {
  text-decoration: none;
}


.circ {
  position: absolute;
  border-radius: 50%;
  border: 5px solid #ade6bf;
}

.line {
  position: absolute;
}

.border {
  background-color: #ade6bf;
}

.bg {
  background: #5bba62;
}

.fg {
	background: #19b94c;
}

#name_circ {
  top: 20px;
  left: 20px;
  width: 260px;
  height: 260px;
  z-index:200;
}

#main_circ {
  top:316px;
  left:440px;
  width:390px;
  height:390px;
  z-index:200;
}

#gh_circ {
  top:48px;
  left:950px;
  width:170px;
  height:170px;
  z-index:200;
}

#res_circ {
  top:400px;
  left:160px;
  width:160px;
  height:160px;
  z-index:200;
}

#circ1 {
  top: 147px;
  left: 112px;
  width: 210px;
  height: 210px;
  animation: circ1Move 40s linear infinite;
  -webkit-animation: circ1Move 40s linear infinite;
  z-index:100;
}


#circ2 {
  top:148px;
  left:888px;
  width:180px;
  height:180px;
  animation: circ2Move 40s linear infinite;
  -webkit-animation: circ2Move 40s linear infinite;
  z-index:100;
}

#line1 {
  top: 170px;
  left: 370px;
  width: 10px;
  height:300px;
  transform: rotate(-51deg);
  z-index:250;
}

#line1_bg {
  top: 172px;
  left: 367px;
  width: 20px;
  height:300px;
  transform: rotate(-51deg);
  z-index:150;
}

#line2 {
  top: 270px;
  left: 200px;
  width: 10px;
  height:150px;
  transform: rotate(-17deg);
  z-index: 250;
}

#line2_bg {
  top: 272px;
  left: 196px;
  width: 20px;
  height:150px;
  transform: rotate(-17deg);
  z-index: 150;
}

#line3 {
  top: 146px;
  left: 852px;
  width: 10px;
  height:350px;
  transform: rotate(45deg);
  z-index: 250;
}

#line3_bg {
  top: 141px;
  left: 852px;
  width: 20px;
  height:350px;
  transform: rotate(45deg);
  z-index: 150;
}

#dan {
  position:relative;
  top:35px;
  left:31px;
}

#meehan {
  position: relative;
  top:13px;
  left:53px;
}

#pic {
  position:absolute;
  top:321px;
  left:445px;
  z-index:300;
}

#gh_img {
  display: block;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background-image: url('images/github_white.png');
}

#gh_img:hover {
  background-image: url('images/github_black.png');
}

/* Webkit */

@-webkit-keyframes circ1Move {
  0% {top:147px; left:112px;}
  2% {top:110px; left:155px;}
  4% {top:79px; left:202px;}
  6% {top:52px; left:252px;}
  8% {top:32px; left:305px;}
  10% {top:16px; left:360px;}
  12% {top:6px; left:415px;}
  14% {top:1px; left:472px;}
  16% {top:1px; left:529px;}
  18% {top:6px; left:585px;}
  20% {top:16px; left:641px;}
  22% {top:32px; left:695px;}
  24% {top:53px; left:748px;}
  26% {top:79px; left:798px;}
  28% {top:111px; left:845px;}
  30% {top:148px; left:888px;}
  32% {top:190px; left:926px;}
  34% {top:238px; left:957px;}
  36% {top:289px; left:980px;}
  38% {top:344px; left:995px;}
  40% {top:400px; left:1000px;}
  42% {top:456px; left:995px;}
  44% {top:511px; left:980px;}
  46% {top:563px; left:957px;}
  48% {top:610px; left:926px;}
  50% {top:652px; left:888px;}
  52% {top:690px; left:845px;}
  54% {top:721px; left:798px;}
  56% {top:747px; left:748px;}
  58% {top:768px; left:695px;}
  60% {top:784px; left:640px;}
  62% {top:794px; left:585px;}
  64% {top:799px; left:528px;}
  66% {top:799px; left:472px;}
  68% {top:794px; left:415px;}
  70% {top:784px; left:359px;}
  72% {top:768px; left:305px;}
  74% {top:747px; left:252px;}
  76% {top:721px; left:202px;}
  78% {top:689px; left:155px;}
  80% {top:652px; left:112px;}
  82% {top:610px; left:74px;}
  84% {top:563px; left:43px;}
  86% {top:511px; left:20px;}
  88% {top:456px; left:5px;}
  90% {top:400px; left:0px;}
  92% {top:343px; left:5px;}
  94% {top:289px; left:20px;}
  96% {top:237px; left:43px;}
  98% {top:190px; left:75px;}
  100% {top:147px; left:112px;}
}

@-webkit-keyframes circ2Move {
  0% {top:148px; left:888px;}
  2% {top:190px; left:926px;}
  4% {top:238px; left:957px;}
  6% {top:289px; left:980px;}
  8% {top:344px; left:995px;}
  10% {top:400px; left:1000px;}
  12% {top:456px; left:995px;}
  14% {top:511px; left:980px;}
  16% {top:563px; left:957px;}
  18% {top:610px; left:926px;}
  20% {top:652px; left:888px;}
  22% {top:690px; left:845px;}
  24% {top:721px; left:798px;}
  26% {top:747px; left:748px;}
  28% {top:768px; left:695px;}
  30% {top:784px; left:640px;}
  32% {top:794px; left:585px;}
  34% {top:799px; left:528px;}
  36% {top:799px; left:472px;}
  38% {top:794px; left:415px;}
  40% {top:784px; left:359px;}
  42% {top:768px; left:305px;}
  44% {top:747px; left:252px;}
  46% {top:721px; left:202px;}
  48% {top:689px; left:155px;}
  50% {top:652px; left:112px;}
  52% {top:610px; left:74px;}
  54% {top:563px; left:43px;}
  56% {top:511px; left:20px;}
  58% {top:456px; left:5px;}
  60% {top:400px; left:0px;}
  62% {top:343px; left:5px;}
  64% {top:289px; left:20px;}
  66% {top:237px; left:43px;}
  68% {top:190px; left:75px;}
  70% {top:147px; left:112px;}
  72% {top:110px; left:155px;}
  74% {top:79px; left:202px;}
  76% {top:52px; left:252px;}
  78% {top:32px; left:305px;}
  80% {top:16px; left:360px;}
  82% {top:6px; left:415px;}
  84% {top:1px; left:472px;}
  86% {top:1px; left:529px;}
  88% {top:6px; left:585px;}
  90% {top:16px; left:641px;}
  92% {top:32px; left:695px;}
  94% {top:53px; left:748px;}
  96% {top:79px; left:798px;}
  98% {top:111px; left:845px;}
  100% {top:148px; left:888px;}
}

/* Non-webkit */

@keyframes circ1Move {
  0% {top:147px; left:112px;}
  2% {top:110px; left:155px;}
  4% {top:79px; left:202px;}
  6% {top:52px; left:252px;}
  8% {top:32px; left:305px;}
  10% {top:16px; left:360px;}
  12% {top:6px; left:415px;}
  14% {top:1px; left:472px;}
  16% {top:1px; left:529px;}
  18% {top:6px; left:585px;}
  20% {top:16px; left:641px;}
  22% {top:32px; left:695px;}
  24% {top:53px; left:748px;}
  26% {top:79px; left:798px;}
  28% {top:111px; left:845px;}
  30% {top:148px; left:888px;}
  32% {top:190px; left:926px;}
  34% {top:238px; left:957px;}
  36% {top:289px; left:980px;}
  38% {top:344px; left:995px;}
  40% {top:400px; left:1000px;}
  42% {top:456px; left:995px;}
  44% {top:511px; left:980px;}
  46% {top:563px; left:957px;}
  48% {top:610px; left:926px;}
  50% {top:652px; left:888px;}
  52% {top:690px; left:845px;}
  54% {top:721px; left:798px;}
  56% {top:747px; left:748px;}
  58% {top:768px; left:695px;}
  60% {top:784px; left:640px;}
  62% {top:794px; left:585px;}
  64% {top:799px; left:528px;}
  66% {top:799px; left:472px;}
  68% {top:794px; left:415px;}
  70% {top:784px; left:359px;}
  72% {top:768px; left:305px;}
  74% {top:747px; left:252px;}
  76% {top:721px; left:202px;}
  78% {top:689px; left:155px;}
  80% {top:652px; left:112px;}
  82% {top:610px; left:74px;}
  84% {top:563px; left:43px;}
  86% {top:511px; left:20px;}
  88% {top:456px; left:5px;}
  90% {top:400px; left:0px;}
  92% {top:343px; left:5px;}
  94% {top:289px; left:20px;}
  96% {top:237px; left:43px;}
  98% {top:190px; left:75px;}
  100% {top:147px; left:112px;}
}

@keyframes circ2Move {
  0% {top:148px; left:888px;}
  2% {top:190px; left:926px;}
  4% {top:238px; left:957px;}
  6% {top:289px; left:980px;}
  8% {top:344px; left:995px;}
  10% {top:400px; left:1000px;}
  12% {top:456px; left:995px;}
  14% {top:511px; left:980px;}
  16% {top:563px; left:957px;}
  18% {top:610px; left:926px;}
  20% {top:652px; left:888px;}
  22% {top:690px; left:845px;}
  24% {top:721px; left:798px;}
  26% {top:747px; left:748px;}
  28% {top:768px; left:695px;}
  30% {top:784px; left:640px;}
  32% {top:794px; left:585px;}
  34% {top:799px; left:528px;}
  36% {top:799px; left:472px;}
  38% {top:794px; left:415px;}
  40% {top:784px; left:359px;}
  42% {top:768px; left:305px;}
  44% {top:747px; left:252px;}
  46% {top:721px; left:202px;}
  48% {top:689px; left:155px;}
  50% {top:652px; left:112px;}
  52% {top:610px; left:74px;}
  54% {top:563px; left:43px;}
  56% {top:511px; left:20px;}
  58% {top:456px; left:5px;}
  60% {top:400px; left:0px;}
  62% {top:343px; left:5px;}
  64% {top:289px; left:20px;}
  66% {top:237px; left:43px;}
  68% {top:190px; left:75px;}
  70% {top:147px; left:112px;}
  72% {top:110px; left:155px;}
  74% {top:79px; left:202px;}
  76% {top:52px; left:252px;}
  78% {top:32px; left:305px;}
  80% {top:16px; left:360px;}
  82% {top:6px; left:415px;}
  84% {top:1px; left:472px;}
  86% {top:1px; left:529px;}
  88% {top:6px; left:585px;}
  90% {top:16px; left:641px;}
  92% {top:32px; left:695px;}
  94% {top:53px; left:748px;}
  96% {top:79px; left:798px;}
  98% {top:111px; left:845px;}
  100% {top:148px; left:888px;}
}
